.opal {
  font-size: 30px;
}

.transition-item {
  /* animation-duration: 1s;
  animation-name: anime;
  animation-timing-function: ease-out;  */
}

.hidden-item {
  animation-duration: .5s;
  animation-name: fade-out;
  animation-fill-mode: forwards;
}

.newsletter-item {
  pointer-events: none;
  display: none; 
  
}
.open-items{
  animation-duration: 1s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    transform:translate(0,0);
   opacity:1;
  }
  
  100% {
    transform:translate(0,-50px);
     opacity:0;
  }
}
@keyframes fade-in {
  0% {
    transform:translate(0,50px);
     opacity:0;
  }
  50%{
    transform:translate(0,20px);
     opacity:0.6;
  }
  100% {
    transform:translate(0,0);
   opacity:1;
  }
  
}

.transitionEffect{
  animation-duration: .5s;
  animation-name: loading;
}
@keyframes loading {
  0% {
      transform: translateY(15%) translateZ(0px); 
      opacity: 0; 
    }
    20% {
      transform: translateY(12%) translateZ(0px); 
      opacity: 0.05; 
    }
    40% {
      transform: translateY(9%) translateZ(0px); 
      opacity: 0.1; 
    }
    60% {
      transform: translateY(6%) translateZ(0px); 
      opacity: 0.2; 
    }
    80% {
      transform: translateY(3%) translateZ(0px); 
      opacity: 0.3; 
    }
    100% {
      transform: translateY(0%) translateZ(0px); 
      
    }
}